<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <a class="navbar-brand blog-site" routerLink="">Share Memories</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="dashboard">Dashboard<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" *ngIf="_userIsLogged" routerLink="mywall">MyWall<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" *ngIf="_userIsLogged" routerLink="my-profile">My Profile</a>
      <a class="nav-item nav-link" *ngIf="_userIsLogged" routerLink="edit/0">New Post</a>
      <a class="nav-item nav-link nav-item-second-right" *ngIf="!_userIsLogged" routerLink="sign-up">Sign up</a>
      <a class="nav-item nav-link nav-item-right" *ngIf="!_userIsLogged" routerLink="sign-in">Sign in</a>
      <a class="nav-item nav-link nav-item-right" *ngIf="_userIsLogged" routerLink="" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
