<div class="card">
  <img class="card-img-top" [src]="article.imageUrl" alt="an article image should be here">
  <div class="card-body">
    <h5
      class="card-title"
      [class.visited-article]="selectedArticleId === article.uuid">{{ article.title | uppercase }}</h5>
    <p
      appHighlight
      class="card-text"
      [class.visited-article-background]="selectedArticleId === article.uuid">{{ article.text | shortenText }}</p>
    <!--<a class="btn btn-primary">Read the post</a>-->
    <div class="d-flex justify-content-start align-items-start">
      <button
        class="btn btn-primary"
        [class.visited-article]="selectedArticleId === article.uuid" (click)="readArticle()" *ngIf="loggedUserEmail!=null">Read</button>
      <button class="btn btn-warning" (click)="updateArticle()" *ngIf="loggedUserEmail==article.ownerEmail">Update</button>

      <span *ngIf="confirmDelete">
        <!-- <span class="delete-message">Delete, sure?</span> -->
        <button class="btn btn-danger" (click)="deleteArticle()">Yes</button>
        <button class="btn btn-success" (click)="confirmDelete = false">No</button>
      </span>
      <button *ngIf="!confirmDelete && loggedUserEmail==article.ownerEmail" class="btn btn-danger" (click)="confirmDelete = true">Delete</button>

      <span class="created-date ml-auto">{{article.ownerEmail}}</span>
    </div>
  </div>
</div>
