<div class="form-div">
  <h1>{{ formTitle }}</h1>
  <form #articleForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label
        [class.red-text]="!title.valid && title.touched"
        for="title">Article Title</label>
      <input
        [(ngModel)]="article.title"
        [class.is-invalid]="!title.valid && title.touched"
        [class.is-valid]="title.valid"
        name="title"
        type="text"
        class="form-control"
        id="title"
        placeholder="title"
        required
        #title="ngModel">
    </div>
    <div
      *ngIf="!title.valid && title.touched"
      class="alert alert-danger form-text red-text"
      role="alert">Please enter some title</div>
    <div class="form-group">
      <label
        [class.red-text]="!image.valid && image.touched"
        for="image">Image Url</label>
      <input
        [(ngModel)]="article.imageUrl"
        [class.is-invalid]="!image.valid && image.touched"
        [class.is-valid]="image.valid"
        name="image"
        type="text"
        class="form-control"
        id="image"
        placeholder="image"
        required
        #image="ngModel">
    </div>
    <div
      *ngIf="!image.valid && image.touched"
      class="alert alert-danger form-text red-text"
      role="alert">Please enter a URL to the image</div>
    <div class="form-group">
      <button
        *ngIf="article.imageUrl !== '' && article.imageUrl !== null"
        type="button"
        (click)="toggleImageShow()"
        class="btn btn-info">
        {{ showImage ? 'Hide ' : 'Show ' }}Image
      </button>
    </div>
    <div class="form-group">
      <img
        class="img-fluid"
        id="imageToggle"
        [src]="article.imageUrl"
        *ngIf="showImage && article.imageUrl !== '' && article.imageUrl !== null">
    </div>
    <div class="form-group">
      <label
        [class.red-text]="!body.valid && body.touched"
        for="body">Article Content</label>
      <textarea
        [(ngModel)]="article.text"
        [class.is-invalid]="!body.valid && body.touched"
        [class.is-valid]="body.valid"
        name="body"
        class="form-control"
        id="body"
        rows="5"
        required
        #body="ngModel"></textarea>

    </div>
    <div
      *ngIf="!body.valid && body.touched"
      class="alert alert-danger form-text red-text"
      role="alert">Please enter some content</div>
      <h6>Do you want to make your article available for everyone? (not required)</h6>
      <label
        for="isPublic"
        class="isPublic"><em>Yes</em></label>
      <input
        [(ngModel)]="article.isPublic"
        name="isPublic"
        type="checkbox"
        id="isPublic">
    <hr>
    <button
      [disabled]="!articleForm.valid"
      type="submit"
      class="btn btn-info submit-button">Submit</button>
  </form>
</div>
